body {
    font-family: 'Arial', sans-serif;
    background-color: #ff6ad5;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #b659ff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin: 0;
    color: #ff6ad5;
}

.top-cars {
    padding: 40px;
}

.top-cars h2 {
    font-size: 28px;
    color: #ff6ad5;
}

.top-cars ol {
    list-style-type: none;
    padding: 0;
}

.top-cars li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #b659ff;
    border-radius: 5px;

}

.car-info {
    display: flex;
    align-items: center;
}

.car-info img {
    max-width: 150px;
    height: auto;
    margin-right: 20px;
}

.car-info h3 {
    font-size: 20px;
    color: #ffffff;

}

.top-cars p {
    font-size: 18px;
    line-height: 1.5;
    border-radius: 10px;
    text-align: center;
    margin-right: 150px;

}


footer {
    text-align: center;
    padding: 20px;
    background-color: #b659ff;
    color: #fff;
    font-size: small;
    margin-top: 100px;

}